<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Monitores</h4>
    </div>
    <div class="float-right">
      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="['configurar']"
      >
        Adicionar monitor
      </button>
      <button type="button" class="btn btn-secondary" (click)="atualizar()">
        Atualizar
      </button>
    </div>
  </div>
  <div class="card-body">
    <table
      class="table table-hover"
      *ngIf="monitor$ | async as monitor; else loading"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Monitor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monitor of monitor">
          <td>{{ monitor.id }}</td>
          <td>{{ monitor.nome }}</td>
          <td>
            <span class="float-right">
              <button
                class="btn btn-outline-warning mb-1 btn-sm"
                (click)="irParaEdicao(monitor.id)"
              >
                Editar
              </button>

              <button
                class="btn btn-outline-danger mb-1 btn-sm"
                (click)="irParaExclusao(monitor)"
              >
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Monitores...</span>
    </ng-template>
    <!-- <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading" >
        Erro ao carregar monitores. Tente novamente mais tarde.
      </div>
      <ng-template #loading>
        <span>Carregando Monitores...</span>
      </ng-template>
    </ng-template> -->
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse monitor?</p>
    <button type="button" class="btn btn-default" (click)="confirmarExclusao()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="negarExclusao()">Não</button>
  </div>
</ng-template>
