<form
  class="needs-validation"
  novalidate
  [formGroup]="form"
  style="padding-top: 10px"
>
  <div class="form-row">
    <div class="col-sm-12">
      <label for="nome">Nome do Monitor</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome do Monitor"
        formControlName="nome"
        [ngClass]="{ 'is-invalid': formularioFoiEnviado && possuiError('nome') }"
      />
      <div *ngIf="possuiError('nome')" class="invalid-feedback">
        <div *ngIf="form.controls.nome.errors?.required">Digitar Nome</div>
        <div *ngIf="form.controls.nome.errors?.minlength">
          No mínimo 3 caracteres
        </div>
        <div *ngIf="form.controls.nome.errors?.maxlength">
          No Máximo 25 caracteres
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 10px">
    <button type="submit" class="btn btn-primary" (click)="alterarMonitor()">
      Salvar
    </button>
    <button type="button" class="btn btn-default" (click)="cancelar()">
      Cancelar
    </button>
  </div>
</form>
